/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Heading Style */
h1 {
    text-align: center;
    color: #333;
    margin-top: 100px;
    margin-bottom: 30px;
}

/* Form Styling */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Form Fields */
input[type="text"], input[type="email"]{
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Submit Button Styling */
button {
    width: 95%;
    background-color: #4e04d6;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: #1204d6;
}

/* Error and Success Messages */
.message {
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    font-size: 14px;
}

.success {
    color: green;
}

.error {
    color: red;
}
